:root {
  /* color */
  --color-black: #3f454d;
  --color-white: #ffffff;
  --color-blue: #3b88c3;
  --color-yellow: #fbbe28;
  --color-pink: #fd7f84;
  --color-light-grey: #dfdfdf;

  /* size */
  --size-button: 60px;
  --size-font: 18px;
  --base-space: 8px;
  --size-border: 4px;
  --size-thumbnail: 40px;

  /* animation */
  --size-animation-button: 300ms;
}

body {
  background-color: var(--color-black);
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--size-animation-button) ease;
}

.logo:hover, .btn:hover {
  transform: scale(1.1);
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition:  transform var(--size-animation-button) ease;
  margin-right: var(--base-space);
}

.btnroot {
  display: flex;
  align-items: center;
}

.imgBtn {
  height: var(--size-button);
  width: var(--size-button);

}

.colorBtn {
  font-size: var(--size-font);
  padding: calc( var(--base-space) * 2 );
  border-radius: var(--size-border);
}

.blue {
  background-color: var(--color-blue);
}

.pink {
  background-color: var(--color-pink);
}

.yellow {
  background-color: var(--color-yellow);
}

.items {
  height: 60%;
  width: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: scroll;
}

.item {
  background-color: var(--color-white);
  display: flex;
  align-items: center;
  padding: var(--base-space);
  margin-bottom: var(--base-space);
}

.item_thumbnail {
  width: var(--size-thumbnail);
}

.item__description {
  margin-left: var(--base-space);
  font-size: var(--size-font);
}